.featuredContainer
{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;

    align-items: center;
}
.propertyHeading
{
    width: 1024px;
    font-size: largest;
    margin-bottom: 20px;
}
.propertyContainer
{
    margin-top: 20px;
}
.homeTitle
{
    margin-top: 20px;
    width: 1024px;
    font-size: largest;
    margin-bottom: 20px;
}