.pList
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    max-width: 1024px;
}
.pListItem
{
    flex: 1;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
}
.pListImage
{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.pListItemDesc
{
    margin-top: 10px
}
.pListItemDesc h1{
    font-size: 20px;
}
.pListItemDesc h2
{
    font-size: 15px;
    color: gray;
    margin-top: 5px;
}