.footer
{
    margin-top: 30px; 
    margin-bottom: 60px; 
}
.footerLists
{
    display: flex;
    gap: 20px;
}
.footerList
{
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.footerListItem
{
    list-style-type:none ;
    text-decoration: none;
}
.footerListItem a
{
    text-decoration: none;
}
.footerLogin
{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-weight: 900;
}
.footerCopyRight
{
    padding-top: 50px;
    
    color: gray;
}